.map-tile {
  aspect-ratio: 1;
  border: 1px solid lightgray;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.map-tile.unvisited {
  background-color: #e6e6e6;
  box-shadow: none;
}

.map-tile.visited {
  background-color: #ffffb8;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.tile-coordinates {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.1rem;
  font-size: 0.8rem;
  color: grey;
}

.tile-text-size {
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.treasure-tile{
  border: 2px solid gold;
}

.yield-value-positive::before {
  content: "🍀 ";
}

.yield-value-negative::before {
  content: "🍄 ";
}

.energy-emoji::before {
  content: "⚡ ";
}

.treasure-icon::before {
  content: " 🏆 ";
  font-size: 1rem;
}

.tile-avatar {
  height: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-top: 1rem;
}

.tile-avatar.high-energy {
  border : 3px solid green;
}

.tile-avatar.mid-energy {
  border : 3px solid orange;
}

.tile-avatar.low-energy {
  border : 3px solid red;
}