.map-tile {
  aspect-ratio: 1;
  border: 1px solid lightgray;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 1.5rem;
  color: black;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
/* .map-tile.easy.visible {
  border: 2px solid rgb(3, 213, 3);
}

.map-tile.medium.visible {
  border: 2px solid rgb(0, 162, 255);
}

.map-tile.hard.visible {
  border: 2px solid red;
} */
.map-tile.unvisited {
  background-color: #e6e6e6;
  /* box-shadow: none; */
}
.map-tile.playerOnTile {
  border : 3px solid black;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.736);
  z-index: 998;
}

.map-tile.visited {
  background-color: #ffffb8;
}

.tile-coordinates {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.1rem;
  font-size: 0.8rem;
  color: grey;
}

.tile-text-size {
  font-size: 1rem;
  margin-top: 0.2rem;
  color: black;
}
.tile-title-text-size {
  font-size: 1.1rem;
  margin-top: 0.2rem;
  color: black;
  font-weight: bold;
}

.treasure-tile{
  border: 4px solid gold;
}

.yield-value-positive::before {
  content: "🍀 ";
}

.yield-value-negative::before {
  content: "🍄 ";
}

.energy-emoji::before {
  content: "⚡ ";
}

.treasure-icon::before {
  content: " 🏆 ";
  font-size: 3rem;
}

.tile-avatar {
  height: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-top: 1rem;
}

.tile-avatar.high-energy {
  border : 3px solid green;
}

.tile-avatar.mid-energy {
  border : 3px solid orange;
}

.tile-avatar.low-energy {
  border : 3px solid red;
}
.map-tile.playerOnTile.high-energy {
  border : 3px solid green;
}

.playerOnTile.mid-energy {
  border : 3px solid orange;
}

.map-tile.playerOnTile.low-energy {
  border : 3px solid red;
}

.tile-text-size.easy {
  color: rgb(3, 213, 3);
  font-size: 1rem;
}

.tile-text-size.medium {
  color: rgb(0, 162, 255);
  font-size: 1rem;
}

.tile-text-size.hard {
  color: red;
  font-size: 1rem;
}

.energy{
  display: flex;
  flex-direction: row;
}

