/* .game-over-container {
    font-size: 1.2rem;
    font-weight: bold;
}
.game-over-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
.reset {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
} */