.answersRadio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

.answer.true {
  color: darkgreen;
}
.answer.false {
  color: red;
}
.answer{
  font-weight: bold;
}
.answerWindow{
  position: fixed;
  top: 15%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #011e9d;
  padding: 20px;
}