.avatar {
  background-color: teal;
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    margin-top: 10px;
  }

  .nameAvatar{
    margin-left: 10px;
  }

.bottonEnergy {
    position: relative;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 24px;
    width: 160px;
    cursor: pointer;
    font-weight: bold;
    height: 55px;
    -webkit-box-reflect: bottom 1px linear-gradient(transparent, #0004);
  }
  
  .bottonEnergy span {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 2px;
    right: 4px;
    bottom: 2px;
    left: 4px;
    text-align: center;
    background: #2e2e2e;
    color: rgba(255, 255, 255, 0.781);
    transition: 0.5s;
    z-index: 1;
  }
  
  .bottonEnergy:hover span {
    color: rgba(255, 255, 255, 1);
  }
  
  .bottonEnergy::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 400%;
    opacity: 0;
    transition: 0.5s;
    background: linear-gradient(
      45deg,
      #91155d,
      #525296,
      #0f0,
      #ff0,
      #fb0094,
      #00f,
      #0f0,
      #ff0
    );
    animation: animate123 20% linear infinte;
  }
  
  .bottonEnergy::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 400%;
    filter: blur(20px);
    transition: 0.5s;
    background: linear-gradient(
      45deg,
      #91155d,
      #525296,
      #0f0,
      #ff0,
      #fb0094,
      #00f,
      #0f0,
      #ff0
    );
    animation: animate123 20% linear infinte;
  }
  
  .bottonEnergy:hover::before,
  .bottonEnergy:hover::after {
    opacity: 1;
  }