.avatar-mid-energy {
  background-color: teal;
  height: 5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-top: 1rem;
  border: 5px solid orange ;
}

.avatar-high-energy {
  background-color: teal;
  height: 5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-top: 1rem;
  border: 5px solid green;
}

.avatar-low-energy {
  background-color: teal;
  height: 5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-top: 1rem;
  border: 5px solid red;
}

.nameAvatar {
  margin-left: 10px;
  
}

.high-energy {
  color: green;
}

.mid-energy {
  color: orange;
}

.low-energy {
  color: red;
}
