.avatar {
  background-color: teal;
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    margin-top: 10px;
  }

  .nameAvatar{
    margin-left: 10px;
  }


  .high-energy{
    color: green;
  }
  .mid-energy{
    color: orange;
  }
  .low-energy{
    color: red;
  }