.answersRadio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.answer.true {
  color: darkgreen;
}
.answer.false {
  color: red;
}
.answer{
  font-weight: bold;
}
.answerWindow{
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, 0%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
}

.answerWindow.easy {
  border: 2px solid green;
}

.answerWindow.medium{
  border: 2px solid rgb(0, 85, 255);
}

.answerWindow.hard {
  border: 2px solid red;
}
